{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 style="text-align:center;font-family:Arial">Django Example</h1>
<br>
<div style="font-size:20px;font-family:Arial;margin-left:10px;">
    <p>You can look at the posts with "Post" page.</p>
    <p>When you click at the post you can see the detail about post.</p>
    <p>When you want to create a post you can use "Post Create" page or Admin Panel.</p>
    <p>Admin Panel's username is "guest" and password is "guest".</p>
</div>

{% endblock %}