{% extends 'base.html' %}

{% block title %}
Post Create
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1 style="font-family:Arial">Create Post</h1>
    <table style="font-family:Arial">
        <tr>
            <td>Title:</td>
            <td style="padding-left:20px;">{{form.title}}</td>
        </tr>
        <tr>
            <td>Summary:</td>
            </td>
            <td style="padding-left:20px;">{{form.summary}}</td>
        </tr>
        <tr>
            <td>Content:</td>
            <td style="padding-left:20px;">{{form.content}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input style="font-size:16px;width:100%;background-color: SlateBlue;color: white;padding: 16px 32px;" type="submit" value="Create">
            </td>
        </tr>
    </table>

</form>

{% endblock %}